*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}

body {
font-family: "Trirong", serif;
}

ul {
  list-style: none;
}
.wrap{
  width: 1180px;
  margin: 0 auto;
}
.header{
  display: flex;
  justify-content: space-around;
  height: 80px;
  font-weight: 400;
  color: #1E266D;
  align-items: center;
}
.logo{
  max-width: 81px;
  max-height: 28px;
  margin-top: 28px;

}
.header__menu{
  width: 603px; 

}
.header__menu ul{
  display: flex;
  justify-content: space-between;
}
.header__contact{
  display: flex;
}
.header__contact-tel{
  width: 163px;
  text-align: right;
  padding: 20px 0;
  margin: 22px 34px 18px 0;
}
.header__contact-btn{
  width: 113px;
  height: 40px;
  background: #3751FF;
  border-radius: 100px;
  margin: 22px 0 18px 0;
  color: #fff;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__group{
  display: flex;
}
.main__btn{
  width: 148px;
  height: 50px;
  border-radius: 100px;
  background: #3751FF;
}
.section_logo{
  text-align: center;
  height: 117px;
}
.section_logo img{
  height: 35.52px;
  margin-right: 52px;
}

.about{
   height: 932px;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 50px auto;
}
.about h1 {
  font-size: 48px;
  height: 120px;
  font-weight: 500;
}
.about__group{
  display: flex;
  justify-content: center;
  
}
.about__group img{
  
}
.about__menu{
  display: flex;
  flex-direction: column;
  width: 405px;
  height: 641px;
}
.about__menu-item{
  display:flex;
  width: 405px;
  height: 193px;
}
.about__menu-item img{
  width: 58px;
  height: 58px;
  margin-right: 60px;
}
.portfolio{
  width: 100%;
  height: 1001px;
  background: #FFF9EA;
  display: flex;
  flex-direction: column;
 }
.portfolio img{
  width: 100%;
}
.testimonial{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1179px;
  height: 583px;
}
.testimonial__group{
  margin-top: 40px;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}
.testimonial__group-item{
  width: 373px;
  max-height: 467px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  
}
.testimonial__group-item img{
  width: 65px;
  height: 64px;
}
.testimonial__group-item p{
  width: 286px;
  height: 211px;
  margin: 20px;
  font-size: 18px;
  font-weight: 400;
}
.CTA{
  width: 100%;
  height: 323px;
  background-color: #3751FF;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.CTA__content{
  width: 1153px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.CTA__content p{
  font-size: 48px;
  font-weight: 500px;
  color: #fff;
  
}
.section_btn{
  width: 247px;
  height: 56px;
  background-color: #fff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 100px;
  text-align: center;
  color: #455880;
}
.footer__group{
  display: flex;
  justify-content: space-evenly;
}
.footer__group-item{
  font-size: 18px;
  height: 212px;
}
.footer__describe{
  width: 310px;
  height: 266px;
}
